:root {
    --title-font: "Estonia";
    --main-font: "Nova round";
    --font-color: #fff;
}

body {
    position: relative;
    min-height: 100dvh;
    display: grid;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: var(--main-font), sans-serif;
}

.header__container {
    
    & .nav__container {
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        
        & button {
            color: var(--font-color);
            padding: 0.6em 1.2em;
            font-size: 2rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}