:root {
    --title-font: "Estonia";
    --main-font: "Nova round";
    --font-color: #fff;
}

body {
    position: relative;
    min-height: 100dvh;
    display: grid;
    font-family: var(--main-font), sans-serif;
}
